body {
  background: url('https://raw.githubusercontent.com/playerauth/media-assets/refs/heads/main/ag5.jpg'), white;
  background-size: cover !important;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.up {
  width: 100vw;
  margin-top: 9vh;
  justify-content: space-around;
  height: 8vh;
  position: fixed;
  display: flex;
  background: white;
}
p {
  font-weight: 900;
  font-size: 2vh;
  margin-top: 2.5vh;
  font-family: serif;
}
.cus {
  background: #007bff;
  width: 6vh;
  margin-top: 1vh;
  border: 2px solid #007bff;
  border-radius: 50%;
  color: white;
  font-size: 2vh;
  font-weight: 900;
  transition: all 0.3s ease;
  height: 6vh;
}
.cus:hover {
  background: blue !important;
  border-color: blue !important;
}
.h {
  color: #007bff;
  background: transparent;
  border: none;
  font-size: 2vh;
  transition: all 0.3s ease;
}
.h:hover {
  color: blue !important;
}
.at {
  color: #444;
  text-decoration: none;
}
@media (prefers-color-scheme: dark) {
  body {
    background: url('https://raw.githubusercontent.com/playerauth/media-assets/refs/heads/main/ag5.jpg'), #1a1c2c;
    background-size: cover;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
  }
  .up {
    background: #1a1c2c;
  }
  p {
    color: white;
  }
}
